In [90]:
import pandas as pd

# Reading movies lens dataset
- column names and seprater as per readme file

In [91]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ratings.dat', sep='::', names=r_cols,
                      encoding='latin-1')

/home/aakash/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

# Creating a sequence of movie watched
- Since data is not sorted by timestamp
- first sorting the data based on timestamp.

In [92]:
rating_data = ratings.set_index(['user_id','unix_timestamp']).sort_index()

# Taking only those movies which user likes

In [93]:
rating_data=rating_data[rating_data.rating>3]

In [94]:
movie_sequence = rating_data.groupby('user_id')['movie_id'].apply(list)

# Filtering out users who have less 10 liked movies

In [95]:
movie_sequence = movie_sequence.reset_index()
movie_sequence['Length'] = movie_sequence['movie_id'].str.len()
movie_sequence = movie_sequence[movie_sequence.Length > 15]
movie_sequence.head()

   user_id                                           movie_id  Length
0        1  [3186, 1270, 1721, 1022, 1836, 3408, 2804, 120...      45
1        2  [1198, 1210, 1293, 2943, 1225, 1193, 318, 3030...      73
2        3  [2858, 1968, 1961, 1266, 1378, 1379, 3671, 590...      37
3        4  [1097, 3468, 480, 260, 1198, 1387, 2028, 2366,...      18
4        5  [908, 919, 1250, 2858, 2997, 2770, 2355, 2908,...      82

In [96]:
movie_sequence.describe()

           user_id       Length
count  5580.000000  5580.000000
mean   3026.947849   102.119713
std    1745.113817   106.363510
min       1.000000    16.000000
25%    1509.750000    33.000000
50%    3036.500000    65.000000
75%    4542.250000   130.000000
max    6040.000000  1435.000000

# Creating Input and Output

In [101]:
def input_output_splitter(data):
    return pd.Series([data[:5], data[5:15]])

In [102]:
movie_sequence[['input', 'output']] = movie_sequence['movie_id'].apply(input_output_splitter)

In [103]:
movie_sequence.head()

,user_id,movie_id,Length,input,output
0,1,"[3186, 1270, 1721, 1022, 1836, 3408, 2804, 120...",45,"[3186, 1270, 1721, 1022, 1836]","[3408, 2804, 1207, 1193, 260, 919, 608, 2692, ..."
1,2,"[1198, 1210, 1293, 2943, 1225, 1193, 318, 3030...",73,"[1198, 1210, 1293, 2943, 1225]","[1193, 318, 3030, 2858, 1945, 1207, 593, 3095,..."
2,3,"[2858, 1968, 1961, 1266, 1378, 1379, 3671, 590...",37,"[2858, 1968, 1961, 1266, 1378]","[1379, 3671, 590, 260, 1196, 2871, 1197, 1198,..."
3,4,"[1097, 3468, 480, 260, 1198, 1387, 2028, 2366,...",18,"[1097, 3468, 480, 260, 1198]","[1387, 2028, 2366, 1201, 2692, 2947, 1214, 341..."
4,5,"[908, 919, 1250, 2858, 2997, 2770, 2355, 2908,...",82,"[908, 919, 1250, 2858, 2997]","[2770, 2355, 2908, 3016, 2599, 2959, 2333, 258..."

In [105]:
movie_sequence[['input', 'output']].to_csv('movie_sequence_no_index.csv', index=False,sep=':')